<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-s-3">
				<img alt="icono" src="img/icon-shipping.png" height="60">
				<p><strong>Envios gratis</strong><br>por 29$ de compra</p>
			</div>

			<div class="col-xs-6 col-s-3">
				<img alt="icono" src="img/icon-refund.png" height="60">
				<p><strong>Devoluciones gratis</strong><br>tienes 90 dias</p>
			</div>

			<div class="col-xs-6 col-s-3">
				<img alt="icono" src="img/icon-customer-service.png" height="60">
				<p><strong>Atencion al cliente</strong><br>7 dias a la semana</p>
			</div>

			<div class="col-xs-6 col-s-3">
				<img alt="icono" src="img/icon-secure.png" height="60">
				<p><strong>Pago seguros</strong><br>100% confiable</p>
			</div>

		</div>
	</div>




	&copy; Felipe Cadavid
</footer>