<h1 class="title-products">Manillas</h1>

<div class="row">
	<div class="col-xs-12">
		
		<form>
			<input class="search-input" type="search" name="search" placeholder="Busca el articulo o una referencia...">
		</form>

		<select class="select-order">
			<option>Precio mas bajo</option>
			<option>Precio mas alto</option>
			<option>Por opiniones</option>
			<option>Por descuento</option>
		</select>

	</div>
</div>

<div class="row">
	
	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 1" src="img/Manilla-rosa.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Rosada</h3>
		<strong class="price">$5.000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 2" src="img/Manilla-verde.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Verde 18k</h3>
		<strong class="price">$10.000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 3" src="img/Manilla-negra.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$10.000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 4" src="img/Manilla-jesus.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 5" src="img/Manilla-gris-oro.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 6" src="img/Manilla-oro-gris.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 7" src="img/Manilla-roja-puntos.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 8" src="img/Manilla-oro-dragon.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 9" src="img/Manilla-negra-dragon.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 10" src="img/Manilla-oro-jesus.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 11" src="img/Manilla-cyan-oro.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>

	<a href="#" class="col-m-4 col-s-6 product-box">
		<img alt="producto 12" src="img/Manilla-negra-oro.jpeg" width="100%">
		<div class="hidden offer">Oferta</div>
		<h3>Manilla Negra Oro 18k</h3>
		<strong class="price">$5000</strong>
	</a>



</div>


<ul class="pagination">
	<li><a href="#" class="active">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li>...</li>
	<li><a href="#">10</a></li>
</ul>